.container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 27px;
	position: relative;
	width: 100%;
}

.videoContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.videoWrapper video {
	max-width: 1280px;
	max-height: 720px;
	height: auto;
	width: auto;
}


.subtitleContainer {
	margin: 20px auto;
	border-radius: 16px;
	max-width: 100%;
	text-align: center;
	color: #ffffff;
}

.subtitleTitle {
	font-size: 20px;
	color: black;
	margin-bottom: 16px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}

.subtitleList {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	justify-content: center;
}

.subtitleButton {
	background-color: #004a89;
	color: #ffffff;
	border: none;
	border-radius: 8px;
	padding: 8px 16px;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s ease;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.subtitleButton:hover {
	background-color: #0063b1;
	transform: scale(1.05);
	box-shadow: 0 6px 12px rgba(0, 99, 177, 0.4);
}

.subtitleButton:active {
	transform: scale(0.95);
	background-color: #003366;
}

.translationContainer {
	display: flex;
	align-items: center;
	border-radius: 16px;
	max-width: 600px;
	margin: 20px auto;
	color: white;
	text-align: center;
}

.translationText {
	margin: 0;
	font-size: 18px;
	color: black;
	margin-bottom: 20px;
	font-weight: 400;
	line-height: 1.5;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.submitButton {
	background-color: #004a89;
	color: #ffffff;
	border: none;
	border-radius: 8px;
	padding: 12px 24px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s ease;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	width: auto;
	max-width: 200px;
	display: inline-block;
}

.submitButton:hover {
	background-color: #0063b1;
	transform: scale(1.05);
	box-shadow: 0 6px 12px rgba(0, 99, 177, 0.4);
}

.submitButton:active {
	transform: scale(0.95);
	background-color: #003366;
}

.subtitleContainer {
	margin-top: 20px;
}

.cardContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
	margin-left: 20px;
	max-width: 300px;
	height: 100%;
	overflow-y: auto;
	position: relative;
	max-height: 600px;
}

.card {
	width: auto;
	max-width: 100%;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.3s ease;
	display: flex;
	flex-direction: column;
}

.cardFront {
	display: flex;
	flex-direction: column;
}

.cardBack {
	display: none;
}

.card.flipped .cardFront {
	display: none;
}

.card.flipped .cardBack {
	display: flex;
}

.highlightedText {
	font-weight: bold;
	color: #007bff;
	font-size: 16px;
	margin-bottom: 10px;
}

.highlight {
	font-weight: bold;
	color: #2ecc71;
}

.highlightedContext {
	font-size: 14px;
	color: #555;
}

.notification {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #002855;
	color: white;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: opacity 0.5s ease;
	opacity: 1;
	z-index: 100;
}

.notification.hidden {
	opacity: 0;
}

.currentSubtitleContainer {
	font-size: 18px;
	font-style: italic;
	background-color: #f39c12;
	color: black;
	padding: 15px;
	border-radius: 15px;
	width: 80%;
	margin: 20px auto;
	text-align: center;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	transition: all 0.3s ease-in-out;
	min-height: 65px;
}

.currentSubtitle {
	margin: 0;
	font-size: 1.2em;
}
